@model IEnumerable<Candidate>
@{
    ViewData["Title"] = "Index";
}

<h1 class="alert alert-info">Candidate List</h1>
<a asp-action="Create" asp-controller="Candidates" class="btn btn-primary mb-2">Add New</a>

<form method="post" asp-action="Index" class="d-flex justify-content-between">
    <input type="text" name="userText" class="form-control" />
    <button type="submit" class="btn btn-info">Search</button>
</form>
<a asp-action="Index" asp-route-sortOrder="@ViewBag.sort" class="btn btn-success mt-2">Sort By Name</a>
<hr />
@foreach(var item in Model)
{
    <div class="d-flex justify-content-between">
        <div>
            <img src="@item.Image" width="45" />
            <b>Name :</b>@item.CandidateName
            <b>Dob :</b>@item.DateOfBirth
            <b>Phone :</b>@item.Phone
            <b>Fresher :</b>@Html.DisplayFor(x=>item.Fresher)
        </div>
        <div>
            <a asp-action="Edit" asp-controller="Candidates" asp-route-id="@item.CandidateId" class="btn btn-success">Edit</a>
            <a asp-action="Delete" asp-controller="Candidates" asp-route-id="@item.CandidateId" class="btn btn-danger">Delete</a>
        </div>
    </div>
    <div>
        @foreach (var i in item.CandidateSkills)
        {
            <ul>
                <li>@i.Skill.SkillName</li>
            </ul>
        }
    </div>
    <hr />
}